@using Model.Item
<div
    class="col item"
    ondragover="event.preventDefault();"
    draggable="true"
    @ondragstart="@OnDragStart"
    @ondrop="@OnDrop"
    @ondragenter="@OnDragEnter"
    @ondragleave="@OnDragLeave">

    @if (Item != null)
    {
        @if (!string.IsNullOrWhiteSpace(Item.ImageBase64))
        {
            <img src="data:image/png;base64, @(Item.ImageBase64)" class="img-preview-small img-inventory-item"
                 title="@Item.DisplayName" alt="@Item.DisplayName"/>
        }
        else
        {
            <img src="images/default.png" class="img-preview-small img-inventory-item"
                 title="@Item.DisplayName" alt="@Item.DisplayName"/>
        }
        <span class="item-count">@Count</span>
    }
</div>