@page "/inventory"
@using Model.Item

<CascadingValue Value="@this">
    <div class="container">
        <div class="row">
            <div class="col">
                <MyInventory/>
            </div>
            <div class="col container">
                <h3>@Localizer["ListOfItems"]</h3>

                <TextEdit Text="@SearchValue" TextChanged="@OnSearchRequested" Placeholder="@Localizer["SearchItem"]"/>

                <DataGrid class="text-white"
                          TItem="Item"
                          @ref="_itemGrid"
                          Data="@DisplayItems"
                          TotalItems="@TotalItems"
                          PageSize="10"
                          ReadData="@OnReadData"
                          ShowPager
                          Sortable
                          SortMode="DataGridSortMode.Single"
                          Responsive>
                    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="#" Sortable="false"/>
                    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="@Localizer["Image"]" Sortable="false">
                        <DisplayTemplate>
                            @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
                            {
                                <img src="data:image/png;base64, @(context.ImageBase64)" class="img-thumbnail img-preview-small" title="@context.DisplayName" alt="@context.DisplayName"
                                     draggable="true" ondragstart="@(() => OnDragStart(context))"/>
                            }
                            else
                            {
                                <img src="images/default.png" class="img-thumbnail img-preview-small" title="@context.DisplayName" alt="@context.DisplayName"
                                     draggable="true" ondragstart="@(() => OnDragStart(context))"/>
                            }
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="Item" Field="@nameof(Item.DisplayName)" Caption="@Localizer["DisplayName"]"/>
                </DataGrid>
            </div>
        </div>
    </div>
</CascadingValue>