@page "/items"
@using Model.Item

<h3>Les objets</h3>

<div>
    <NavLink class="btn btn-primary" href="items/add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> @Localizer["Add"]
    </NavLink>
</div>

<DataGrid TItem="Item"
          @ref="itemGrid"
          class="text-white"
          Data="@Items"
          ReadData="@OnReadData"
          TotalItems="@TotalItems"
          PageSize="10"
          ShowPager
          Responsive>
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="#"/>
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="@Localizer["Image"]">
        <DisplayTemplate>
            @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
            {
                <img src="data:image/png;base64, @(context.ImageBase64)" class="img-thumbnail img-preview-small" title="@context.DisplayName" alt="@context.DisplayName"/>
            }
            else
            {
                <img src="images/default.png" class="img-thumbnail img-preview-small" title="@context.DisplayName" alt="@context.DisplayName"/>
            }
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.DisplayName)" Caption="@Localizer["DisplayName"]"/>
    <DataGridColumn TItem="Item" Field="@nameof(Item.StackSize)" Caption="@Localizer["StackSize"]"/>
    <DataGridColumn TItem="Item" Field="@nameof(Item.MaxDurability)" Caption="@Localizer["MaximumDurability"]"/>
    <DataGridColumn TItem="Item" Field="@nameof(Item.EnchantCategories)" Caption="@Localizer["EnchantCategories"]">
        <DisplayTemplate>
            @string.Join(", ", context.EnchantCategories)
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.RepairWith)" Caption="@Localizer["RepairWith"]">
        <DisplayTemplate>
            @string.Join(", ", context.RepairWith)
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.CreatedDate)" Caption="@Localizer["CreatedDate"]" DisplayFormat="{0:d}" DisplayFormatProvider="@System.Globalization.CultureInfo.CurrentCulture"/>
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Filterable="false" Caption="@Localizer["Action"]">
        <DisplayTemplate>
            <a href="items/edit/@(context.Id)" class="btn btn-secondary"><i class="fa fa-edit"></i>@Localizer["Update"]</a>
            <button type="button" class="btn btn-danger" @onclick="() => OnDelete(context.Id)"><i class="fa fa-trash"></i>@Localizer["Delete"]</button>
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>